root = true

[*]
end_of_line = lf
insert_final_newline = false

[*.json]
indent_style = space
indent_size = 4

[*.xml]
indent_style = space
indent_size = 2

[*.{java,kt}]
indent_style = space
indent_size = 2

[/Snooper/src/sharedTestDataHelpers/assets/*raw*.json]
indent_style = unset
indent_size = unset
end_of_line = unset
insert_final_newline = unset
