language: android

sudo: false

cache:
  directories:
  - "$HOME/.gradle"
android:
  components:
  - tools
  - platform-tools
  - build-tools-25.0.2
  - android-24
  - sys-img-armeabi-v7a-android-21
  - extra-android-m2repository

jdk:
- oraclejdk8

before_script:
- echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
- mksdcard -l e 756M sdcard.img
- emulator -avd test -no-skin -no-audio -no-window -sdcard sdcard.img &
- android-wait-for-emulator
- adb shell settings put global window_animation_scale 0
- adb shell settings put global transition_animation_scale 0
- adb shell settings put global animator_duration_scale 0
- chmod +x ./deploy_snapshot.sh
- chmod +x ./travis/push-artifact.sh

script:
- "./gradlew Snooper:clean Snooper:testDebugUnitTest Snooper:lintDebug"
- "./gradlew Snooper-Spring:clean Snooper-Spring:testDebugUnitTest Snooper-Spring:lintDebug"
- "./gradlew Snooper-Okhttp:clean Snooper-Okhttp:testDebugUnitTest Snooper-Okhttp:lintDebug"

#after_script:
#- "./travis/push-artifact.sh"

after_success:
- "./deploy_snapshot.sh"

env:
  global:
  - GRADLE_OPTS="-Xmx512m -XX:MaxPermSize=512m"
  - secure: hdKwiQEVi3myHEGa+R79OItK/au+O23wqfKrphbVyAHVT2hNlnnZ0BxbUBm977I6jUFRAyzDwTeSx+goFxIXCBnXBvqbRGoVLmA9sB1WBvbAQUdE1bIj9eKmF97s+Brz2yOatMRGCS9GGOj/Y/9QQtIljM23l/E2j8EBBHULtx5vNx/FqeMw3jjPtD0bnE6zxQw1yKTa1QIBvd5y09o0GMNeFr1rzCR/PNVOQ3gOwE+K5C2dL5en5Dss6H5ZoMa29Nmm939KjSr6Ff5Dg9YyS+gjaFsjNUyuqJQSBKLoilDLXHTncv/ut+kcNutfBpH6JLvvsGSW/Lf+7NgB4gDoYqSkdh5Ubq7Jj5P4wlakqFxV6JIwd22fq0j26GVYh23sIyS4Jpy12yHnBDKKCHix2XRs2fJlmgaxzNxGtPAOLutlflLOJeQU1Ypwn7B8IJlylZuDuiH3THH61DE4e/YJdfqBomF/rPTRN3g7/Budg3im/scpMZenXrBFQsNOQ4h+pjDfgEB9FnhHjw6UZrq0dZXJWgypiDJcBrhUmELJ6jSbjDccNvNyxrQTkPuY2gA00GZcZnKU52NjTLZPQ9Z/hpuyiQhcdQKhBlWOzlHPfbsSKzVxlb46Yb0DW/dQNSwtXu2MhzpxhfPHmbjCWoWkGlKI/8od3dFPXMl2dE0zIhM=
  - secure: LgdKCCPdBLbtRhUfSi3lDks5SFo0VREJOR4QW5BV9QTc48YecCfIPyzOl7ngumv0OxgAoJqaw9l+uJyEPVLcDQlZXjKIRPpW7y2NGnj5fNUZ3ROoVX8q9KDf1g9+7y0zArZ2MkmpTgquvOLMF6yNoESfKv1+Hpy1dcMdlho4is4Ynonu8qTG6UI4QTnGAhYY5PH6VZIuBDrR7TlfIIULPzwWv2/JZDnXCWeOv0G2jLexYKh9WdUl7VtjMB3csIClQFYSTBc8L1u6MtvTdaspuBCCj4xyzIlwgLi6SoiPLLrP1rv9efXH9hmspi45PNNoSXN2ZrDvwkPw74Q26qSQOQ2NnSJlloa3LE0+qkqHjLhQJDT5sz6apgn5nXDf998tI8Y6hKliUY0ixsoJGVtTfx71+zP7nSUi/6YpUsTxxirbQEQbXyXwmmJ0iBBM/eZmSlsm6Cusx/bbD4qPM4LRDlYEVchSyh/DT7ddlgdxVeTOfUf5G96er2Z9FDSmjTFh6FR6qrRXXZ97/C0ZvjQLPRAjVxZHz6jw0c34C8biiV5wKQ8joegFX0gnQ3ytoKzVhy/aXGRsXv74H3/K3pyh/QvQ+caaOsnAKtAHq5Ja75itut3b8FPi8Tv9a15kDYN3aguxtYjgkxBV8wjsmIBW4H4aY0ABUOmvqjmLAr+80lI=
  - secure: Bk9uTYkUt3VmpHtQORbQtwzmeIL6Pvn5i6OjQILm3gOX5VTCD02ZDQn7Qlqu51RxhDElVV0732gOwfwiaYhqzaDI96XSDpd5OtdRcInXrODxmYyc3EogXgAgCLTEF5FrZQaMfJIBOBocNa6SNKEZXNDEc0aYXYmQob8wcHYhN5dldGuN4IkO/nPrLs/+RcR2OKIm1at8bW28e55qA1riTPq3vLLF8+d+cBe5zoG3YgoqskAJE3kdOnbBEshtpIEl7XNqdcURCBTqVyUxYacMfnoU9PqX5WNDTf9uW0nqFN1N8UtdIuwS3B1I1Tx5rVVq/8FCKudQ34bVQQavA2WQgLS16FoYv3k5pS03cbT1O5eyu6IHPlXwD4jM3Vr68n+53murjsIDtOuurNksbQ7Ne3gEcZK/x73VmgqyUKyKzcGKiT3DygBHxAmUDmZ0JZKSYGiz4ZDc6bEdEWiSp66e4FHcq6n3KCbARHSDlOx+HJlHr1vCC/3+YZzQF8avM1JboabsnWJ+YtQl8b5mowoDWiIhX8TJ8EKfZeFS3fSFGunEDEIltDeoJRS4xF77bVL/X2GuX8/Q46cMXtSWBzVCFlihhH3baMzVHvZTMG0ms8W0sxrZUpIyACmRB5kR0Xb0Pm66V0o3EvXskQBW+EUP6dreazPXjWMIu6GLNrMX7uk=
