<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.prateekj.snooper">

  <application>
    <activity
      android:theme="@style/SnooperTheme.NoActionBar"
      android:name=".activity.HttpCallListActivity"
      android:taskAffinity="@string/snooper_affinity"
      android:label="@string/title_activity_http_call_list">
    </activity>
    <activity
      android:theme="@style/SnooperTheme.NoActionBar"
      android:name=".activity.HttpCallActivity"
      android:taskAffinity="@string/snooper_affinity"
      android:label="@string/title_activity_response_body">
    </activity>
  </application>

</manifest>
