<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.prateekj.snooper">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <application>
    <activity
      android:theme="@style/SnooperTheme.NoActionBar"
      android:name=".networksnooper.activity.HttpCallListActivity"
      android:taskAffinity="@string/snooper_affinity"
      android:label="@string/title_activity_http_call_list">
    </activity>
    <activity
      android:theme="@style/SnooperTheme.NoActionBar"
      android:name=".networksnooper.activity.HttpCallActivity"
      android:taskAffinity="@string/snooper_affinity"
      android:label="@string/title_http_call_activity">
    </activity>
  </application>

</manifest>
